.welcome-header {
  margin: 100px 0px 100px 0px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light);
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 80%;
  opacity: 0.8;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid var(--bar-color);
  transition: border-color 0.3s ease-in-out;
  background-color: var(--bar-color);
}

#login-form input::placeholder {
  color: var(--font-color);
  padding-left: 15px;
}

#login-form input:focus {
  border-color: var(--font-color);
}

#login-form input[type="submit"] {
  background-color: var(--bg-dark);
  color: var(--font-color);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: var(--font-color);
  font-size: 13px;
}
